.product{
    margin-top: 12rem;
    margin-bottom: 7rem;
}
.product .category{
    font-size: 22px;
}
.product .price{
    font-size: 20px;
}
.product .description{
    margin-bottom: 3rem;
}
.product a{
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    width: 100%;
    font-size: 20px;
    padding: 12px 50px;
    border: 1px solid var(--primary-color);
}
.product a:hover{
    background: none;
    color: var(--primary-color);
}
.product .buy{
    background: var(--primary-color);
    padding-left: 2rem;
    padding-right: 2rem;
}
.product .amounts span{
    font-size: 22px;
}
