.banner {
    /* background-color: #0E3A5D; */
    padding: 2rem 0;
    /* margin-top: 10rem; */
    margin-bottom: 4rem;
    text-align: center;
  }
  
  .banner img {
    max-width: 100%;
    height: auto;
    margin-bottom: 4rem;
    width: 100%;
  }
  
  .banner a {
    background-color: black;
    text-decoration: none;
    color: #fff;
    margin-top: 12px;
    width: fit-content;
    padding: 9px 22px;
    border-radius: 8px;
  }